<!DOCTYPE html>
<html>
<head>
  <title>Attack!</title>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header><%=@message%></header>
<form action='/play'>
  <input class="form_buttons" type='submit' value='OK'>
</form>
</body>
<audio autoplay>
  <source src="/audio/effect_slash.WAV" type="audio/mpeg">
</audio>
</html>
