<!DOCTYPE html>
<html>
<head>
  <title>Game Over</title>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header><%=@losing_player%> has lost!  <%=@winning_player%> has won!</header>
<form action='/'>
  <input type='submit' value='New Game'>
</form>
</body>
</html>